
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
}

.vertical-menu {
    width: 250px;
    background-color: hsl(221, 100%, 50%);
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: auto;
}

.vertical-menu a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 1px solid #444;
}

.vertical-menu a:hover {
    background-color: #ff4500;
}

.vertical-menu a.active {
    background-color: #ff0000;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    border: 2px solid hsl(221, 100%, 50%);
}

form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: hsl(221, 100%, 50%);
}

form input,
form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid hsl(221, 100%, 50%);
    border-radius: 5px;
    font-size: 14px;
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: hsl(221, 100%, 50%);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #ff4500;
}

h1 {
    color: hsl(221, 100%, 50%);
}
