
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}


.form-container {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 10px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #004080; /* Azul marino */
    font-size: 20px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    color: #004080; /* Azul marino */
    font-size: 14px;
}

input {
    width: 100%;
    padding: 6px;
    margin-bottom: 6px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #ffa726; 
    box-shadow: 0 0 4px #ffa726;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #004080; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffa726; 
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #004080;
    font-weight: bold;
    font-size: 14px;
}

a:hover {
    color: #ffa726;
}